<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <script src="./static/vue.js"></script>
    <link href="./static/pure-min.css" rel="stylesheet"/>
    <link href="./static/pure-grid-min.css" rel="stylesheet"/>
    <link href="./static/style.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Observe the time</title>
  </head>
  <body>
    <div id="layout" class="pure-g">
      <div class="pure-u-1 pure-u-md-1-6 pure-u-lg-1-4"></div>
      <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-1-2 l-box">
        <h1>Observe the <span style="font-style: italic; text-underline-offset: 8px; text-decoration: underline #fa582f 5px;">time<span></h1>
          <form class="pure-from pure-form-stacked">
            <input id="start-input" style="width:100%;" v-model="newStart"></input>
            <button class="pure-button pure-button-primary"  :disabled="ongoing.size > 0" @click.prevent="{ start(newStart); newStart='';}">Start</button>
          </form>
          <div v-if="error">
            <span style="color:red;">Error: {{error}}</span>
            <a class="button-action" href="#" @click.prevent="{error=null;}">Clear</a>
          </div>
          <div v-if="ongoing.size > 0">
            <h2>Ongoing:</h2>
            <div v-for="[title, obj] in ongoing" class="pure-g">
              <p class="pure-u-1" style="margin-top: 0;">
                {{title}} @ {{new Date(obj.item.start).toLocaleString()}}
              </p>
              <div class="pure-u-1" style="margin-bottom: o.2em">
                <p style="margin: 0 auto">Notes:</p>
                <textarea type="textarea" v-model="obj.notes"></textarea>
                <button class="button-small button-action pure-button" style="vertical-align: bottom;" @click="finish(title)">Finish</button>
              </div>
            </div>
          </div>

          <div v-if="recentTitles.length > 0">
            <h2>Recent Entries: </h2>
            <div style="margin-bottom: 0.2em;" class="pure-g" v-for="title in recentTitles">
              <p class="pure-u-3-5" style="margin-top: 0;">
                {{ title }}
              </p>
              <div class="pure-u-2-5" style="text-align: right">
                <button class="button-small button-action pure-button" :disabled="ongoing.size > 0" @click.prevent="start(title)">Restart</button>
                <button class="button-small button-action pure-button" @click.prevent="getItemDetail(title)">View</button>
              </div>
            </div>
          </div>

          <div v-if="detailObject != null">
            <h2>Details: </h2>
            <div style="border: 1px solid lime;padding: 0.2em 1em;" v-html="detailObject"></div>
            <button class="button-small pure-button" @click.prevent="{detailObject = null;}">Close details</button>
          </div>

          <div>
            <h2>Report</h2>
            <div class="pure-g">
              <form class="pure-u-1-2 pure-form pure-form-stacked">
                <fieldset>
                  <label for="report-start">From (included)</label>
                  <input type="date" id="report-start" placeholder="Report start" v-model="queryParam.dayStart"/>

                  <label for="report-end">To (included)</label>
                  <input type="date" id="report-end" placeholder="Report end" v-model="queryParam.dayEnd"/>

                  <label for="report-type">Report Type</label>
                  <select id="report-type" v-model="queryParam.viewType" style="padding: 0.2em 0.6em;">
                    <option value="daily_detail">Daily Detail</option>
                    <option value="daily">Daily Summary</option>
                    <option value="detail">Entry Detail</option>
                    <option value="dist">Daily Distribution</option>
                  </select>

                  <button class="pure-button pure-button-primary" @click.prevent="getReportByDate(queryParam.dayStart, queryParam.dayEnd, queryParam.viewType)">Go</button>
                </fieldset>
              </form>
              <div class="pure-u-1-2" style="padding: 1em 0; text-align: right;">
                <div class="quick-report">Quick Reports:</div>
                <div class="quick-report"><a href="#" @click.prevent="onQuickReport('0','null')">Today</a></div>
                <div class="quick-report"><a href="#" @click.prevent="onQuickReport('1', '1')">Yesterday</a></div>
                <div class="quick-report"><a href="#" @click.prevent="onQuickReport('1', 'null')">Last 2 days</a></div>
                <div class="quick-report"><a href="#" @click.prevent="onQuickReport('6', 'null')">Last 7 days</a></div>
              </div>
            </div>
            <div v-if="report">
              <pre>{{report}}</pre>
            </div>
          </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-6 pure-u-lg-1-4"></div>
    </div>

    <script src="./static/app.js"></script>
</body>
</html>
