.button-small {
    font-size: 70%;
}

.button-action {
    margin-left: 1em;
}

.detail-item {
    padding:0.1em;
    border-top: solid 1px lightgray;
}

.pure-g > div, #start-input {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.quick-report {
    margin-bottom: 0.2em;
}

pre {
    overflow: scroll;
    white-space: pre-wrap;
}
